<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <meta name="description" content="Mobile Application HTML5 Template">

  <meta name="copyright" content="MACode ID, https://www.macodeid.com/">

  <title>Student Dashboard</title>

  <link rel="shortcut icon" href="/home/favicon.png" type="image/x-icon">

  <link rel="stylesheet" href="/home/css/maicons.css">

  <link rel="stylesheet" href="/home/vendor/animate/animate.css">

  <link rel="stylesheet" href="/home/vendor/owl-carousel/css/owl.carousel.min.css">

  <link rel="stylesheet" href="/home/css/bootstrap.css">

  <link rel="stylesheet" href="/home//css/mobster.css">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light navbar-floating">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/home/favicon.png" alt="" width="40">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- <div class="collapse navbar-collapse" id="navbarToggler">
      <div class="ml-auto my-2 my-lg-0">
        <button class="btn btn-dark rounded-pill"><a href="/admin/login">Admin Login</a></button>
      </div>
    </div> -->
  </div>
</nav>
  
<div class="page-hero-section bg-image hero-home-1" style="background-image: url(/home/img/bg_hero_1.svg);">
  <div class="hero-caption pt-5">
    <div class="container h-100">
      <div class="row align-items-center h-100">
        <div class="col-lg-6 wow fadeInUp">
          <h1 class="mb-4">Get Started With Student Dashboard</h1>
          <p class="mb-4">Dashboard has features to view and manage <br>
          academic performance, track your daily activities.</p>
          <a href="/user/login"    class="btn btn-primary rounded-pill">Login Now</a>
        </div>
        <div class="col-lg-6 d-none d-lg-block wow zoomIn">
          <div class="img-place mobile-preview shadow floating-animate">
            <img src="/home/SVG/character 2.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script src="/home/js/jquery-3.5.1.min.js"></script>

<script src="/home/js/bootstrap.bundle.min.js"></script>

<script src="/home/vendor/owl-carousel/js/owl.carousel.min.js"></script>

<script src="/home/vendor/wow/wow.min.js"></script>

<script src="/home/js/mobster.js"></script>

</body>
</html>



