<!DOCTYPE html>
<html>
<head>
	<title>Student Dashboard</title>
	<link rel="shortcut icon" href="/home/favicon.png" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="/Login/css/style.css">
	
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Condensed&family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	
	<% if(alert === 'password') { %>
		<div class="alert alert-danger alert-container" role="alert">
			<strong>Login Failed!</strong> Incorrect password 😕
		</div>
	<% } else if(alert === 'email') { %>
		<div class="alert alert-danger alert-container" role="alert">
			<strong>Login Failed!</strong> Email not found 😕
		</div>
	<% } else if(alert === 'needLogin') { %>
		<div class="alert alert-danger alert-container" role="alert">
			<strong>You need to Login! 😕</strong> 
		</div>
	<% } %>
	<img class="wave" src="/Login/img/wave.png">
	<div class="container">
		<div class="img">
			<img src="/Login/img/bg.svg">
		</div>
		
		<div class="login-content">
			<form action="/user/login" method="POST">
				<img src="/Login/img/avatar.svg">
				<h2 class="title">Welcome</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Email</h5>
           		   		<input type="text" class="input" name="email" required>
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Password</h5>
           		    	<input type="password" class="input" name="password" required>
            	   </div>
            	</div>
            	<a href="#">Forgot Password?</a>
            	<input type="submit" class="btn" value="Login">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="/Login/js/main.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
	<script>
		window.setTimeout(function() {
    			$(".alert").fadeTo(500, 0).slideUp(500, function(){
        		$(this).remove(); 
    		});
		}, 5000);
	</script>
</body>
</html>
