<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/dashboard/styles.css" />
    <link rel="stylesheet" href="/dashboard/timetable.css"/>
    <title>Student Dashboard</title>
    <link rel="shortcut icon" href="/home/favicon.png" type="image/x-icon">
  </head>
  <body id="body">
    <div class="container-dashboard">
      <nav class="navbar-dashboard">
        <div class="nav_icon" onclick="toggleSidebar()">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
        <div class="navbar__left">
          <!-- <a href="#">Subscribers</a>
          <a href="#">Video Management</a> -->
          <a class="active_link" href="#">Student</a>
        </div>
        <div class="navbar__right">
          <a href="#">
            <i class="fa fa-search" aria-hidden="true"></i>
          </a>
          <a href="#">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
          </a>
          <a href="#">
            <img width="50" src="/dashboard/assets/avatar.png" alt="" />
            <!-- <i class="fa fa-user-circle-o" aria-hidden="true"></i> -->
          </a>
        </div>
      </nav>

      <main>
        <div class="main__container">
          <div class="section-title">
            <h2>TIMETABLE</h2>
          </div>
            <div class="timetable">
                <div class="week-names">
                  <div>9:00 - 10:00</div>
                  <div>10:00 - 11:00</div>
                  <div>11:00 - 12:00</div>
                  <div>13:00 - 14:00</div>
                  <div>14:00 - 15:00</div>
                  <div>15:00 - 16:00</div>
                  <div>16:00 - 17:00</div>
                </div>
                <div class="time-interval">
                  
                  <div>MONDAY</div>
                  <div>TUESDAY</div>
                  <div>WEDNESDAY</div>
                  <div>THURSDAY</div>
                  <div>FRIDAY</div>
                </div>
                <div class="content">
                  <div>
                    <div class="accent-orange-gradient"><a>CCN</a></div>
                  </div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div>
                    <div class="accent-green-gradient"><a>WAD</a></div>
                  </div>


                  <div></div>
                  <div><div class="accent-pink-gradient"><a>NSS</a></div></div>
                  <div></div>
                  <div>
                    <div class="accent-cyan-gradient"><a>AI</a></div>
                  </div>
                  <!-- <div></div>
                  <div>
                    <div class="accent-pink-gradient"></div>
                  </div> -->
                  <div></div>


                  <div>
                    <div class="accent-purple-gradient"><a>ML</a></div>
                  </div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>


                  <div class="accent-purple-gradient"><a>CCN</a></div>
                  <div></div>
                  <div></div>
                  <div>
                    <div class="accent-purple-gradient"><a>TOC</a></div>
                  </div>
                  <div></div>


                  <div></div>
                  <div><div class="accent-purple-gradient"><a>CS-4</a></div></div>
                  <div></div>
                  <div> <div class="accent-orange-gradient"><a>COS</a></div></div>
                  <div></div>

                  <div>
                    <div class="accent-pink-gradient"><a>DLD</a></div>
                  </div>
                  <div>
                    <div class="accent-pink-gradient"><a>CP</a></div>
                  </div>
                  <div>  </div>
                  <div></div>
                  <div><div class="accent-green-gradient"><a>DLD</a></div></div>
                  <div></div>
                  <div><div class="accent-green-gradient"><a>TOC</a></div></div>
                  <div></div>
                  <div></div>
                  <div><div class="accent-purple-gradient"><a>COS</a></div></div>
                </div>
              </div>    
        </div>
      </main>

      <div id="sidebar">
        <div class="sidebar__title">
          <div class="sidebar__img">
            <img src="/dashboard/assets/student.png" alt="logo" />
            <h1><%=name%></h1>
          </div>
          <i
            onclick="closeSidebar()"
            class="fa fa-times"
            id="sidebarIcon"
            aria-hidden="true"
          ></i>
        </div>

        <div class="sidebar__menu">
          <div class="sidebar__link">
            <i class="fa fa-home"></i>
            <a href="/user/home">Dashboard</a>
          </div>
          <h2>Class</h2>
          <div class="sidebar__link">
            <i class="fa fa-user-secret" aria-hidden="true"></i>
            <a href="/user/attendance">Attendance</a>
          </div>
          <div class="sidebar__link active_menu_link">
            <i class="fa fa-building-o"></i>
            <a href="/user/timetable">Timetable</a>
          </div>
          <div class="sidebar__link">
            <i class="fa fa-wrench"></i>
            <a href="/user/almanac">Almanac</a>
          </div>
          <div class="sidebar__link">
            <i class="fa fa-archive"></i>
            <a href="/user/studyMaterial">Study Material</a>
          </div>
          <h2>College</h2>
          <div class="sidebar__link">
            <i class="fa fa-question"></i>
            <a href="/user/studentRequests/get">Student Requests</a>
          </div>
          <div class="sidebar__link">
            <i class="fa fa-sign-out"></i>
            <a href="/user/complaint/get">Complaints</a>
          </div>
          <div class="sidebar__link">
            <i class="fa fa-calendar-check-o"></i>
            <a href="/user/library">Library</a>
          </div>
          <div class="sidebar__link">
            <i class="fa fa-files-o"></i>
            <a href="/user/opportunity">Oppurtunities</a>
          </div>
          <div class="sidebar__link">
            <i class="fa fa-files-o"></i>
            <a href="/user/alumninetwork">Alumni Network</a>
          </div>
          
          <!-- <div class="sidebar__logout">
            <i class="fa fa-power-off"></i>
            <a href="#">Log out</a>
          </div> -->
          <div class="sidebar__logout">
            <i class="fa fa-power-off"></i>
            <a onclick="document.getElementById('logout').submit();" style="cursor: pointer;">Log out</a>
          </div>
        </div>
      </div>
    </div>
    <form id="logout" method="post" action="/user/logout"></form>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="/dashboard/script.js"></script>
  </body>
</html>
