@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url("https://fonts.googleapis.com/css?family=Rubik:700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
* {
  box-sizing: border-box;
}

body-class {
  min-height: 100vh;
  display: flex;
  background-color: #eaeaea;
  font-family: Open Sans;
  font-weight: 300;
  line-height: 1.8;
  background-image: url(https://dl.dropboxusercontent.com/u/26808427/cdn/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;
}

.border-right-blue {
  border-left: 1.5px solid #2196f3;
}

.contact {
  position: absolute;
  top: 30px;
  left: 50px;
  z-index: 6;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  font-weight: 700;
  padding: 5px 15px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.1);
  line-height: 1;
  cursor: pointer;
  text-shadow: 0 1px 0px rgba(255, 255, 255, 0.1);
}


.cards {
  margin: auto;
  background: white;
  border-radius: 5px;
  overflow: hidden;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1), 3px 5px 3px rgba(0, 0, 0, 0.2); */
  width: 800px;
  height: 260px;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 30px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  line-height: 1.8;
}
.cards .card {
  display: inline-block;
  margin-right: 20px;
}

.cards .card-content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 55px 0 0;
  overflow: hidden;
  border-radius: 5px;
}
.cards .card-content .row {
  display: table;
  width: 100%;
  height: 100%;
}
.cards .card-content .col {
  width: 50%;
  height: 100%;
  display: table-cell;
  /* transition: 0.3s ease 0.3s;
  transform: translate3d(0, 0, 0); */
  vertical-align: top;
}
.cards .card-content .col h2 {
  font-weight: 300;
  font-size: 3em;
  line-height: 1;
  margin: 0 0 15px;
}
.cards .card-content .col h2 strong {
  font-weight: 700;
  font-size: 32px;
  color: #1967d2;
}
.cards .card-content .col img {
  max-width: 90%;
  width: 100%;
}
.cards .card-content .col.left {
  /* transform: translate3d(0, 0, 0); */
  opacity: 0;
  padding-left: 50px;
  padding-right: 20px;
}

.cards .card-content .col.left .date {
    /* transform: translate3d(0, 0, 0); */
    font-weight: 700;
}
.cards .card-content .col.left .status {
    /* transform: translate3d(0, 0, 0); */
    float: right;
    font-weight: 700;
}

.cards .card-content .col.right {
  /* transform: translate3d(100px, 0, 0); */
  opacity: 0;
  padding-left: 30px;
}
.cards .card.active .col {
  /* transform: translate3d(0, 0, 0); */
  opacity: 1;
}
.cards #overview .card-toggle {
  position: absolute;
  top: 30px;
  right: 30px;
  opacity: 1;
  color: white;
}
.cards #overview .card-content {
  background-color: white;
  -webkit-clip-path: circle(0% at 91.5% 75px);
}
.cards #overview.active .card-toggle {
  opacity: 0;
}
.cards #overview.active .card-content {
  -webkit-clip-path: circle(270% at 91.5% 75px);
}
.cards #overview .right {
  background: url(https://dl.dropboxusercontent.com/u/26808427/cdn/james.png) no-repeat bottom right;
  background-size: contain;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 16px;
  width: 150px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
}
button.learn-more {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  color: #382b22;
  text-transform: uppercase;
  padding: 0.85em 1.5em;
  background: #C0D9AF;
  border: 2px solid #6A8455;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.learn-more::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 85%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #7FFF00;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #6A8455, 0 0.625em 0 0 #BCED91;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.learn-more:hover {
  background: #CFDBC5;
  transform: translate(0, 0.25em);
}
button.learn-more:hover::before {
  box-shadow: 0 0 0 2px #6A8455, 0 0.5em 0 0 #BCED91;
  transform: translate3d(0, 0.5em, -1em);
}
button.learn-more:active {
  background: #CFDBC5;
  transform: translate(0em, 0.75em);
}
button.learn-more:active::before {
  box-shadow: 0 0 0 2px #6A8455, 0 0 #BCED91;
  transform: translate3d(0, 0, -1em);
} 

.check {
  color: #4CAF50;
  font-size: 21px;
}

.uncheck {
  color: orange;
  font-size: 19px;
}

/* 
.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #006400;
}

.section-title h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #7FFF00;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
} */